form {
  padding: 30px;
  margin: 100px auto;
  border: 1px solid black;
  width: 55%;
  position: relative;
  input {
    margin: 2px;
    position: absolute;
    left: 50%;
    text-align: left;
    margin: 5px;
  }
  label {
    left: 25%;
    position: absolute;
    margin: 10px;
  }
}
.account-type {
  margin: 50px;
  label {
      font-size: 25px;
      top: 120px;
      left: 15%;
  }
  select {
    left: 50%;
    top: 135px;
    position: absolute;
  }
}
.submit-form-btn {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
}

.logout-btn {
  border-radius: 20px;
  width: 100px;
  height: 30px;
  color: red;
  background-color: transparent;
  border: 1px solid red;
  cursor: pointer;
}

.logout-btn:hover {
  color: black;
  background-color: antiquewhite;
}

@media screen and (min-width: 1200px) {
  form {
    width: 30%;
  }
  .signin-footer {
    height: 100px;
  }
}


.new-volunteering-form {
  height: 250px;
  padding: 20px;
}