$small-size: 10px;
$medium-size: 30px;

@mixin clear-btn {
  cursor: pointer;
  background-color: transparent;
}

.mobile-top-nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: #f8f6e7;
  padding-top: 5px;
  z-index: 1;
  bottom: 95%;
  width: 100%;
  height: 40px;
  margin: 0 !important;
  .right-icons img {
    margin: 5px $small-size;
  }
}

.desktop-top-nav {
  display: none;
  height: 43px;
  padding: 10px 80px 0 30px;
  bottom: 91.3%;
  position: fixed;
  background-color: #f8f6e7;
  width:93%;
  z-index: 2;
  .right-nav img {
    margin: 5px $small-size;
  }
  .left-nav {
    display: flex;
  }
}

nav {
  display: flex;
  margin: $small-size 20px;
  justify-content: space-between;
}

.logo {
  width: 40px;
}

.close-nav-bar {
  font-size: 25px;
  border: none;
  margin: $small-size 90% 0 0;
  @include clear-btn;
}

.hamburger {
  height: 15px;
  padding: 7px;
  margin-left: 7px;
  cursor: pointer;
}

.hamburger-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 0;
  .hamburger-nav-list {
    font-size: 20px;
    margin: $medium-size;
  }
  .hamburger-nav-list::marker {
    color: white;
  }
}

.hamburger-nav-top{
  margin-top: 30px; 
  display: flex;
  flex-direction: column;
  .hamburger-nav-top-links {
      font-size: 20px;
      margin: 30px;
      font-weight: bold;
      letter-spacing: 1.33px;
      text-decoration: none;
      color: black;
  }
  hr {
    width: 200px;
  }
}

.tlc {
  margin: 1px 31px 1px 15px;
  font-size: 27px;
  letter-spacing: 1.35px;
  text-decoration: none;
  color: black;
}

.calendar {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 800px) {
  .mobile-top-nav {
    display: none;
  }
  .desktop-top-nav {
    display: flex;
  }
  nav {
    margin: $small-size 1px;
  }
}
