.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  li {
    list-style: none;
    font-size: 12px;
    margin: 10px;
  }
}

@media screen and (min-width: 800px) {
  .footer {
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    li {
      font-size: 18px;
    }
  }
}
