.footer {
  position: absolute;
  display: flex;
  bottom: 0;
  margin-left: 35%;
  li {
    list-style: none;
    font-size: 19px;
    margin: 10px;
  }
}

.facebook {
  width: 30px;
  height: 30px;
}