$white-11: rgba(255, 255, 255, 0.8);
$sand-80: rgba(232, 196, 122, 0.8);
$beige: #f9f4ea;
$light-grey: #fafafa;
$light-tan: #f7e0b2;
$medium-size: 30px;
$brown-grey: #979797;
$large-space: 1.67px;
$small-space: 0.93px;

@mixin letter-spacing($px) {
  letter-spacing: $px;
}

.white-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0 auto;
  width: 70%;
  height: 100px;
  padding: 5px 33px 22px;
  background-color: $white-11;
  top: 70px;
  position: relative;
}

.grey-card {
  width: 100%;
  background-color: $light-grey;
  padding: 5px 0;
  img {
    display: block;
    padding: 15px;
  }
}

.beige-card {
  background-color: $beige;
  width: 155px;
  height: 237px;
  margin: 0 20px 60px 20px;
  img {
    width: 155px;
    margin: 10px 3px;
    height: 122px;
  }
}

.data-item {
  position: relative;
}


.volunteering-img {
  width: 259px;
  height: 208px;
}

.volunteering-title {
  font-size: 27px;
  margin: 10px;
  padding: 0 20px;
}

.volunteering-description {
  padding: 0 45px;
  font-size: 17.3px;
  position: absolute;
  bottom: 15%;
}

.volunteering-icon {
  position: absolute;
  bottom: 10%;
  left: 43%;
  width: 35px;
  height: $medium-size;
}

.wrapper {
  display: inline-block;
  bottom: 1%;
  right: 10%;
  position: absolute;
}

.outter {
  float: left;
  width: 70px;
  border-bottom: 0.5px solid $brown-grey;
  margin-top: 8%;
}

.outter-span {
  float: left;
  margin: 0 10px;
  @include letter-spacing($large-space);
  font: {
    size: 25px;
    weight: bold;
  }
}

.ils {
  font-size: 16px;
}

.data-content {
  height: 240px;
  p {
    font-size: 30px;
    span {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.data-small-item {
  background-color: $beige;
  position: relative;
  font-size: 14px;
  width: 157px;
  height: 300px;
  .volunteering-small-img{
    width: 157px;
    height: 100px;
  }
  .volunteering-small-title {
    font-size: 22px;
    padding: 0 8px;
  }
  .volunteering-small-description {
    padding: 0 25px;
    bottom: 5%;
  }
  .small-wrapper {
    bottom: 1%;
    right: 15%;
    position: absolute;
  }
  .outter-span {
    font-size: 14px;
    }
    .outter {
      width: $medium-size;
    }
}

@media screen and (min-width: 800px) {
  .white-card {
    width: 54%;
    height: 200px;
    top: 30%;
  }
  .data-small-item {
    font-size: 22px;
    width: 235px;
    height: 360px;
    .volunteering-small-img{
      width: 235px;
      height: 150px;
    }
    .disvolunteeringh-small-description {
      padding: 0 45px;
    }
    .small-wrapper {
      bottom: 1%;
      right: 25%;
    }
  }
  .data-item {
    width: 360px;
    .volunteering-img, 
    .association-img {
      width: 360px;
    }
  }
  .data-item:first-child {
    height: 357px;
  }
  .volunteering-title {
    font-size: 38px;
    padding: 0 10px;
  }
  .beige-card {
    width: 290px;
    height: 300px;
    margin: 50px 40px;
    border: 1px solid black;
    img {
      width: 290px;
      height: 212px;
    }
    h3 {
      font-size: 38px;
      margin: 0;
    }
    p {
      font-size: 23px;
    }
  }
  .volunteering-description {
    padding: 0 25px;
    top: 55%;    
    font-size: 24px;
  }
  .wrapper {
    right: 24%;
  }
  .founder-container {
    display: flex;
    padding: 0;
  }
  .founder-description {
    font-size: 25px;
    text-align: left;
    padding: 5px;
  }
  #data {
    height: 550px;
    margin-bottom: 60px;
  }
}
